<% include ../shared/nav %>

<% for(i = 0; i < JSON.parse(users).length; i++) { %>
  <div id=<%- JSON.parse(users)[i].id %> >
    <h3><%= JSON.parse(users)[i].username %></h3>
    <a href="/users/show/<%= JSON.parse(users)[i].id %>">show</a>
    <a href="/users/edit/<%= JSON.parse(users)[i].id %>">edit</a>
    <a href="/users/delete/<%= JSON.parse(users)[i].id %>">delete</a>
  </div>
<% } %>