<!DOCTYPE html>
<html>
  <head>
    <title><%= __('editor') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	  <script src="/socket.io/socket.io.js"></script>
	  <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <% include shared/nav %>
    <h1><%= __('editor') %></h1>
    

    <% for(i = 0; i < JSON.parse(variables).length; i++) { %>

      <form action="/exec" method="post">
        <input type="hidden" name="id" class="id" value=<%- JSON.parse(variables)[i]._id %>>
        <label for="cmd"><%= JSON.parse(variables)[i].name %></label>
        <input type="text" name="cmd" class="cmd" value=<%= JSON.parse(variables)[i].value %>>
        <input type="submit" class="submit-values">
      </form>

    <% } %>


    <br />
    
    <form method="post" action="/files/sys_upload" enctype="multipart/form-data">
      <label for="fsfile"><%= __('files in filesystem') %></label><br />
      <input type="file" name="fsfile" id="fsfile" />
      <input type="submit" name="submit" value=<%= __('submit') %> />
    </form>
    <br />
    <form method="post" action="/files/db_upload" enctype="multipart/form-data">
      <label for="dbfile"><%= __('files in bdd') %></label><br />
      <input type="file" name="dbfile" id="dbfile" />
      <input type="submit" name="submit" value=<%= __('submit') %> />
    </form>

    <h3><%= __('errors') %></h3>
    <div class="errors"></div>

  </body>
</html>
