<!DOCTYPE html>
<html>
  <head>
    <title><%= __('monitor') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <% include shared/nav %>
    <h1><%= __('monitor') %></h1>
    <div class="results"></div>
    <% for(i = 0; i < JSON.parse(variables).length; i++) { %>
      <div id=<%- JSON.parse(variables)[i].id %> >
        <h3><%= JSON.parse(variables)[i].name %></h3>
        <span><%= JSON.parse(variables)[i].value %></span>
      </div>
    <% } %>
  </body>
</html>